*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
}
.header .container {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    float: left;
    max-width: 300px;
    width: 100%;
    cursor: pointer;
}
.menu{
    max-width: 900px;
    width: 63%;
}
.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #5f5f5f;
    font-weight: 500;
}
.vector{
    float: right;
    max-width: 100px;
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.first-section{
    margin: 0 auto;
    width: 100%;
    height: 675px;
    background-image: url(../image/Banner_Newformat2.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-section h1{
    width: 100%;
    padding-top: 200px ;
    text-align: center;
    font-size: 50px;
    color: #333333;
    font-weight: 500;
}
.first-section h4{
    padding-top: 1px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #333333;
    font-weight: 400;
    text-align: center;
}
.first-section pre{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
.btn1 a{
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
    border: 2px solid red;
    padding: 15px;
    background-color: #ec1f2e;
    border-radius: 5px;
    margin-top: 50px;
}
.btn2 a{
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #333333;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding : 15px;
    margin: 10px;
}
.second-section{
    max-width: 1270px;
    width: 100%;
    margin: 100px auto;
    display: flex;
}
.image12 img{
    max-width: 710px;
    width: 100%;
    height: 456px;
    align-items: center;
}
.info{
    width: 50%;
    justify-content: center;
    padding : 0 30px;
    text-align: left;
    margin-bottom: 50px;
}
.info h4{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.info h1{
    font-size: 35px;
    line-height: 40px;
    color: #333333;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}
.info p{
    width: 474px;
    height: 247px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
.second-section-btn {
    display: flex;
    justify-content: left;
    text-align: center;
}
.second-section-btn .btn1 a ,.second-section-btn .btn2 a {
    padding: 20px;
}
.third-section{
    display: flex;
}
.left-part{
    background: url(../image/Screenshot.png) no-repeat;
    background-color: #333333;
    background-size: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}
.part1 {
    display: flex;
}
.part1 ul{
    flex-direction: column;
}
.right-part{
    width:50%;
    background-color: #ef1f2e;
}
.right-part form{
    padding: 80px 95px 62px 90px;
}
.right-part form input{
    padding: 14px 15px;
    max-width: 258px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.right-part form textarea{
    padding: 14px 15px;
    max-width: 530px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}
form > div{
    display: flex;
}
.right-part form .row1 input:nth-child(1), .right-part form .row2 input:nth-child(1){
    margin-right: 14px;
}

form .row3 input{
    max-width: 533px;
}
form .row4 input{
    max-width: 533px;
    height:110px;
}
.submit-btn-wrap {
    display: flex;
    justify-content: flex-end;
}
.submit-btn-wrap a{
    background-color: #ef1f2e;
    border: 2px solid #ffffff;
    height: 50px;
    font-size: 18px;
    border-radius: 4px;
    display: flex;
    max-width: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}
.submit-btn-wrap a:hover{
    background: #ffffff;
    color: #ef1f2e;
    border: 2px solid #ef1f2e
}
.left-part .consult-wrap {
    max-width: 520px;
    width: 100%;
    margin-top: 100px;
}
.left-part .consult-wrap p{
    font-size: 35px;
    color:#ffffff;
}
.left-part .consult-wrap .info p{
    font-size: 16px;
    color:#ffffff;

}
.left-part .consult-wrap hr{
    margin-bottom: 30px;
    width:500px;
}
.left-part .consult-wrap .signup{
    font-size: 25px;
    color:#ffffff;
    margin-bottom: 10px;
}
.left-part .consult-wrap .info{
    font-size: 13px;
    color:#ffffff;
    padding: 0 0;
}
.footer{
    padding: 64px;
    background-color: #ffffff;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}
.footer-links .part1{
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
}
.footer-links .part1 .menus .get-started{
    font-size: 18px;
    color:#ef1f2e;
    margin-bottom: 18px;
}
.menus ul li{
    font-size: 13px;
    list-style: none;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: "Roboto" ,"sans-serif";
}
.part2{
    max-width: 700px;
    width: 100%;
    margin-left: 204px;
}
.footer-contact p{
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-contact p.info-text{
    font-size: 14px;
    margin-bottom: 20px;
    font-family: "Roboto" ,"sans-serif";
}
.email-div{
    display: flex;
}
.email-div input{
    padding:12px 15px;
    width: 344px;
    margin-right: 15px;
}
.email-div a{
    background: #333333;
    color: #ffffff;
    height: 47px;
    border-radius: 5px;
    display: flex;
    max-width: 141px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.email-div a:hover{
    color: #333333;
    background: #ffffff;
    border: 2px solid #333333;
}
.social-part{
    padding-top: 30px;
}
.social-part i{
    margin-right: 34px;
    font-size: 18px;
    cursor: pointer;
}
/*
@media only screen and (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .header {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }

    .header .container {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        float: left;
        max-width: 200px;
        width: 100%;
        cursor: pointer;
    }

    .menu {
        max-width: 700px;
        width: 63%;
    }

    .menu ul li {
        list-style-type: none;
        display: inline-block;
        padding: 0 25px;
        cursor: pointer;
        align-items: center;
        font-size: 18px;
        letter-spacing: 1px;
        color: #5f5f5f;
        font-weight: 500;
    }

    .vector {
        float: right;
        max-width: 100px;
        width: 100%;
        display: flex;
        cursor: pointer;
        justify-content: space-between;
    }

    .first-section {
        margin: 0 auto;
        width: 100%;
        height: 675px;
        background-image: url(../image/Banner_Newformat2.png);
        background-size: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .first-section h1 {
        width: 100%;
        padding-top: 200px;
        text-align: center;
        font-size: 50px;
        color: #333333;
        font-weight: 500;
    }

    .first-section h4 {
        padding-top: 1px;
        font-size: 20px;
        letter-spacing: 1px;
        color: #333333;
        font-weight: 400;
        text-align: center;
    }

    .first-section pre {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #333333;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 10px;
    }

    .btn {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 40px;
    }

    .btn1 a {
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 22px;
        color: #ffffff;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        text-decoration: none;
        border: 2px solid red;
        padding: 20px;
        background-color: #ec1f2e;
        border-radius: 5px;
        margin-top: 50px;
    }

    .btn2 a {
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 22px;
        color: #333333;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        text-decoration: none;
        border: 2px solid black;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
    }

    .second-section {
        max-width: 1024px;
        width: 100%;
        margin: 100px auto;
        display: flex;
    }

    .image12 img {
        max-width: 710px;
        width: 90%;
        height: 356px;
        align-items: center;
        margin: 30px;
    }

    .info {
        width: 50%;
        justify-content: center;
        padding: 30px 10px;
        text-align: left;
        margin-bottom: 50px;
    }

    .info h4 {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #333333;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }

    .info h1 {
        font-size: 35px;
        line-height: 40px;
        color: #333333;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
    }

    .info p {
        width: 474px;
        height: 347px;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #333333;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        margin-top: 20px;
    }

    .second-section-btn {
        display: flex;
        justify-content: left;
        text-align: center;
    }

    .second-section-btn .btn1 a, .second-section-btn .btn2 a {
        padding: 20px;
    }
    .third-section{
        display: flex;
    }
    .left-part{
        background: url(../image/Screenshot.png) no-repeat;
        background-color: #333333;
        background-size: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .left-part .consult-wrap {
        max-width: 520px;
        width: 100%;
        height: 425px;
    }
    .left-part .consult-wrap p{
        font-size: 35px;
        color:#ffffff;
        margin-left: 50px;
    }
    .left-part .consult-wrap hr{
        margin-bottom: 20px;
        width:500px;
    }
    .left-part .consult-wrap .signup{
        font-size: 25px;
        color:#ffffff;
        margin-left: 50px;
    }
    .left-part .consult-wrap .info p{
        font-size: 18px;
        color:#ffffff;
        margin : 0 50px;
    }
    .right-part{
        width:50%;
        background-color: #ef1f2e;
    }
    .right-part form{
        padding: 80px 90px 62px 90px;
    }
    .right-part form input{
        padding: 20px 25px;
        max-width: 300px;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    .right-part form textarea{
        padding: 14px 15px;
        max-width: 530px;
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    form > div{
        display: flex;
    }
    .right-part form .row1 input:nth-child(1), .right-part form .row2 input:nth-child(1){
        margin-right: 14px;
    }

    form .row3 input{
        max-width: 533px;
    }
    form .row4 input{
        max-width: 533px;
        height:110px;
    }
    .submit-btn-wrap {
        display: flex;
        justify-content: flex-end;
    }
    .submit-btn-wrap a{
        background-color: #ef1f2e;
        border: 3px solid #ffffff;
        height: 50px;
        font-size: 20px;
        border-radius: 4px;
        display: flex;
        max-width: 150px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #ffffff;
    }
    .submit-btn-wrap a:hover {
        background: #ffffff;
        color: #ef1f2e;
        border: 3px solid #ef1f2e;
    }
    .footer{
        padding: 25px;
        background-color: #ffffff;
    }
    .footer-links{
        display: flex;
        justify-content: space-between;
    }
    .part1 {
        display: flex;
    }
    .part1 ul{
        flex-direction: column;
    }
    .footer-links .part1{
        max-width: 600px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 35px;
    }
    .footer-links .part1 .menus .get-started{
        font-size: 18px;
        color:#ef1f2e;
    }
    .menus ul li{
        font-size: 18px;
        list-style: none;
        padding-right: 50px;
        margin-bottom: 20px;
        font-family: "Roboto" ,"sans-serif";
    }
    .part2{
        max-width: 700px;
        width: 100%;
        margin-left: 12px;
    }
    .footer-contact p{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .footer-contact p.info-text{
        font-size: 18px;
        margin-bottom: 21px;
        font-family: "Roboto" ,"sans-serif";
    }
    .email-div{
        display: flex;
    }
    .email-div input{
        padding: 15px 35px;
        width: 344px;
        margin-right: 15px;
    }
    .email-div a{
        background: #333333;
        color: #ffffff;
        height: 47px;
        border-radius: 5px;
        display: flex;
        max-width: 141px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .email-div a:hover{
        color: #333333;
        background: #ffffff;
        border: 2px solid #333333;
    }
    .social-part{
        padding-top: 30px;
    }
    .social-part i{
        margin-right: 34px;
        font-size: 26px;
    }
}*/